<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Budget</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />

</head>
<body>
    <div class="container">
        <h1><%=budget.name%></h1>
        <button><a href="/budgets">BACK</a></button>
        <h5>date</h5>
        <h6><%=budget.date%></h6>
        <h5>name</h5>
        <h6><%=budget.name%></h6>
        <h5>from</h5>
        <h6><%=budget.from%></h6>
        <h5>amount</h5>
        <h6><%=budget.amount%></h6>
        <h5>tags</h5>
        <h6><%=budget.tags%></h6>

    </div>
    
</body>
</html>